@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-earth-dark: #245e38; /* Umiarkowanie rozjaśniona, ładna ciemna zieleń */
  --color-earth-main: #429c5a; /* Umiarkowanie rozjaśniona główna zieleń */
  --color-earth-light: #64c27d; /* Przyjemna, nie za jaskrawa jasna zieleń */
  --color-earth-brown: #a86423; /* Ocieplony brąz */
  --color-earth-beige: #f4ebe0; /* Jaśniejszy beż, cieplejszy */
  --color-earth-accent: #fc8423; /* Żywszy pomarańczkowy */
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #fdfcfa;
  --foreground: #245e38; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b3d28;
    --foreground: #fcfbf9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
