@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-earth-dark: #1b482b; /* Nieco ciemniejsza, ładna ciemna zieleń */
  --color-earth-main: #358049; /* Nieco ciemniejsza główna zieleń */
  --color-earth-light: #4eab68; /* Ciemniejsza jasna zieleń */
  --color-earth-brown: #8c521a; /* Ciemniejszy brąz */
  --color-earth-beige: #fdfbf5; /* Bardzo jasny beż (poprzednio zbyt ciemny) */
  --color-earth-accent: #e87317; /* Nieco ciemniejszy pomarańczowy */
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #f7f5f0;
  --foreground: #1b482b; 
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
